html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Background */
.wrapper {
    background: rgb(255, 41, 41);
    background: linear-gradient(90deg, rgba(255, 41, 41, 1) 0%, rgba(205, 54, 255, 1) 50%, rgba(53, 61, 255, 1) 100%);
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.videoWrapper {
    display: block;
    float: left;
    margin-top: 30px;
}

#bg-animation {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* NAVBAR */

.navbar {
    padding: 0 0 1.5rem;
}

.navbar-nav {
    padding-right: 50px;
    padding-top: 20px;
    border-top: 0;
}

.navbar-brand {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 80px;
    margin-top: 60px;
}

.nav-item {
    padding: 0 10px;
    font-size: 25px;
}

.nav-link {
    text-decoration: underline solid transparent;
    transition: text-decoration 0.5s ease;
}

.nav-link:hover {
    text-decoration: underline;
}

.logo {
    padding-top: 20px;
    padding-left: 20px;
    width: 80px;
}

/* HEADINGS */
.intro-sentence {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 1.5;
    padding-top: 80px;
}

.contact-me-title,
.resume-title,
.portfolio-title {
    color: white;
    padding-top: 160px;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.gall-type {
    font-size: 2.5rem;
}

.gall-type-rangoli {
    font-size: 2.5rem;
    margin-top: 50px;
}

/* MAIN PAGE */

.container-fluid {
    padding: 1% 15% 0% 15%;
}

/* Name */

.name {
    color: white;
    padding-top: 15%;
    margin-bottom: 5%;
    font-size: 10rem;
    width: 100%;
    position: relative;
    text-align: center;
}

.about-me {
    text-align: center;
    padding-top: 0px;
    margin-bottom: 150px;
}

.about-me-key {
    text-decoration: underline transparent;
    transition: text-decoration 0.5s ease;
}

.about-me-key:hover {
    text-decoration: underline;
}

/* Arrow Down */

.text-arrow {
    font-size: 2.5rem;
    width: 100%;
    position: relative;
    width: max-content;
    text-align: center;
}

.arrow {
    color: white;
    text-align: center;
    margin: 5% 0;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/* ABOUT ME PAGE */

.about-me-text {
    width: 70%;
    color: #808080;
    align-self: center;
    display: inline-block;
}

.about-me-blocks {
    text-align: center;
    color: #808080;
}

.waterloo-logo {
    width: 15%;
}

.waterloo-logo-text {
    font-family: "Montserrat";
    font-size: 2.5rem;
}

/* Skills */
.skill-img {
    transition: 0.5s;
    opacity: 0.5;
    color: white;
    position: relative;
    width: 225px;
    height: 125px;
    margin: 30px;
    margin-right: 0px;
    overflow: justify;
    display: flex;
    justify-content: center;

}

.skill-img:hover {
    transition: 0.5s;
    opacity: 1;
}

/* Portfolio */

.portfolio-title {
    color: white;
    padding-top: 160px;
    text-align: center;
}

.portfolio-text {
    color: white;
    text-align: center;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before {
    position: absolute;
}

.glass-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

.glass-container .glass-card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.glass-container .glass-card .glass-content-post {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}

.glass-container .glass-card .glass-content-pre {
    text-align: center;
    opacity: 1;
    transition: 1s;
}

.glass-container .glass-card:hover .glass-content-post {
    transform: translateY(0px);
    opacity: 1;
}

.glass-container .glass-card:hover .glass-content-pre {
    transition: opacity 1s;
    opacity: 0;
}

.glass-container .glass-card .glass-content-pre .glass-num {
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.glass-container .glass-card .glass-content-post .glass-title {
    font-size: 1.8em;
    color: white;
    z-index: 1;
}

.glass-container .glass-card .glass-content-post .glass-info {
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.glass-container .glass-card .glass-content-post .glass-link {
    position: relative;
    display: inline-block;
    padding: 0px 20px;
    margin-top: 5px;
    background: white;
    color: black;
    border-radius: 200px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Contact Me */
.form-blocks {
    width: 45%;
    display: inline-block;
    margin-left: 25%;
    margin-top: 20px;
}

form {
    width: 50%;
    margin-top: 30px;
}

.form-outline {
    color: white;
    margin-top: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.form-control{
  transition: backdrop-filter 1s;
  backdrop-filter: blur(0px);
}

.form-control:hover {
   transition: backdrop-filter 1s;
  backdrop-filter: blur(5px);
}

.form-outline{
    width: max-content;
    display: table;
    caption-side: top;
}

.label {display: table-caption}

.send {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transition: opacity 1s;
    opacity: 0.5;
}

.send:hover {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transition: opacity 1s;
    opacity: 1;
}

.linkedin {
    transition: opacity 0.5s;
    opacity: 0.5;
}

.linkedin:hover {
    transition: opacity 0.5s;
    opacity: 1;
}
